
<div class="login-form">
    <form action="/examples/actions/confirmation.php" method="post">
        <div class="avatar"><i class="material-icons">&#xE7FF;</i></div>
        <h4 class="modal-title">Prijava</h4>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Uporabniško ime" required="required">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Geslo" required="required">
        </div>
        <input type="submit" class="btn btn-primary btn-block btn-lg" value="Prijava">
    </form>
    <div class="text-center small">Še nimate računa? <a href="#">Registracija</a></div>
</div>                               		                            