<div class="login-form">
    <form action="/examples/actions/confirmation.php" method="post">
        <div class="avatar"><i class="material-icons">&#xE7FF;</i></div>
        <h4 class="modal-title">Registracija</h4>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Ime" required="required">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Priimek" required="required">
        </div>
        <div class="form-group">
            <input type="email" class="form-control" placeholder="E-pošta" required="required">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Podjetje" required="required">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Geslo" required="required">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Ponovno vnesite geslo" required="required">
        </div>
        <input type="submit" class="btn btn-primary btn-block btn-lg" value="Prijava">
    </form>
    <div class="text-center small">Že imate račun? <a href="#">Prijava</a></div>
</div>