@*@model WebApp.Domain.Models.Warehouse

@{
ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Warehouse</h4>
<hr />
<div class="row">
<div class="col-md-4">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="MinCode" class="control-label"></label>
            <input asp-for="MinCode" class="form-control" />
            <span asp-validation-for="MinCode" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="MaxCode" class="control-label"></label>
            <input asp-for="MaxCode" class="form-control" />
            <span asp-validation-for="MaxCode" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="IsDeleted" /> @Html.DisplayNameFor(model => model.IsDeleted)
            </label>
        </div>
        <div class="form-group">
            <label asp-for="DeletionTime" class="control-label"></label>
            <input asp-for="DeletionTime" class="form-control" />
            <span asp-validation-for="DeletionTime" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
</div>
</div>

<div>
<a asp-action="Index">Back to List</a>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@

<div class="login-form">
    <form action="/examples/actions/confirmation.php" method="post">
        <div class="avatar"><i class="material-icons">home</i></div>
        <h4 class="modal-title">Dodajanje skladišča</h4>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Šifra" required="required">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Naziv" required="required">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Naslov" required="required">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Tel. številka" required="required">
        </div>
        <input type="submit" class="btn btn-primary btn-block btn-lg" value="Dodaj">
    </form>
</div>